.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #F5F5F5;
}

.current_page {
  color: rgb(51, 0, 255);
  font-weight: 700;
  padding-top: 35px;
}
@media screen and (min-width: 768px) {
  .current_page {
    border-top: 5px solid rgb(51, 0, 255);
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
}

.header {
  background-color: #F5F5F5;
  border-bottom: 2px solid rgba(28, 7, 102, 0.1);
}

.header_container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header_container {
    position: relative;
  }
}

.header_logo_first-part {
  color: rgb(69, 25, 212);
  font-size: 30px;
}

.header_logo_second-part {
  color: red;
  font-size: 34px;
  font-weight: 500;
}

@media screen and (max-width: 767.98px) {
  .header_navigation_list {
    display: block;
    position: absolute;
    padding: 25px;
    top: -300%;
    width: 100%;
    right: 0;
    background-color: rgba(148, 176, 232, 0.9);
    height: 300%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .header_navigation_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  .header_navigation_list {
    width: 80%;
  }
}

.header_burger-button {
  height: 40px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header_burger-button {
    display: none;
  }
}

.header_close-item {
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header_close-item {
    display: none;
  }
}

.nav-link {
  font-size: 18px;
  color: rgb(0, 85, 255);
}
@media screen and (max-width: 767.98px) {
  .nav-link {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
  }
}

.hero_section {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 318px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(21, 21, 23, 0.6)), to(rgba(31, 31, 36, 0.6))), url(../images/hero_poster.jpg);
  background-image: linear-gradient(to right, rgba(21, 21, 23, 0.6), rgba(31, 31, 36, 0.6)), url(../images/hero_poster.jpg);
}

.hero_main-header, .hero_losung {
  font-size: 26px;
  color: rgb(182, 216, 237);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero_main-header, .hero_losung {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hero_main-header, .hero_losung {
    font-size: 36px;
  }
}

.hero_logo-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.hero_brand_first {
  color: rgb(18, 30, 201);
  font-weight: 500px;
}

.hero_brand_second {
  color: red;
  font-weight: 500px;
}

.hero_link_to_courses {
  width: 180px;
  height: 50px;
  background-color: rgb(21, 0, 255);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 50px;
}

.hero_link_to_courses:hover {
  color: rgb(21, 0, 255);
  background-color: white;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 2px solid rgba(28, 7, 102, 0.1);
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .footer_wrapper {
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .footer_networks-links_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    margin-bottom: 35px;
  }
}

.footer_networks-link_title {
  display: block;
  margin-bottom: 15px;
}

.footer_networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .footer_networks-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_networks-item:not(:last-child) {
  margin-right: 10px;
}

.footer_networks-item_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(21, 0, 255);
}

.footer_networks-item_link:hover {
  background-color: red;
}

.footer_networks__icon {
  fill: wheat;
}

.footer_author_protect_wrapper {
  width: 250px;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer_author_protect_wrapper {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .footer_author_protect_wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer_author_protect_text {
  font-size: 12px;
}

.footer_author_protect_wrapper_tablet {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .footer_author_protect_wrapper_tablet {
    display: block;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer_sign-form {
    margin-bottom: 30px;
  }
}

.footer_sign-form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .footer_sign-form_group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sign-form_call {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 19px;
  text-align: center;
}

.footer_sign-form_input {
  background-color: inherit;
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid rgb(21, 0, 255);
  border-radius: 5px;
  margin-right: 10px;
}

.footer_btn-send {
  width: 130px;
  background-color: rgb(21, 0, 255);
  color: wheat;
  font-size: 14px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icon-subscribe {
  fill: wheat;
}

.courses_wrapper {
  display: block;
}
@media screen and (min-width: 768px) {
  .courses_wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-top: 40px;
  }
}

.courses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.courses_item {
  width: 240px;
  border: 1px solid rgba(0, 0, 255, 0.3);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.courses_item:hover .course_description {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media screen and (max-width: 767.98px) {
  .courses_item {
    width: 360px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .courses_item {
    width: 220px;
  }
}

.img_course {
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 255, 0.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 240px;
  height: 130px;
}
@media screen and (max-width: 767.98px) {
  .img_course {
    width: 360px;
    height: 215px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .img_course {
    width: 220px;
    height: 130px;
  }
}

.side_bar {
  width: 250px;
}

@media screen and (max-width: 767.98px) {
  .side_bar_items-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .content_part {
    padding: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .content_part {
    width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-left: 60px;
  }
}

.side_bar_title {
  font-size: 20px;
  color: darkblue;
  margin-bottom: 30px;
}
@media screen and (max-width: 767.98px) {
  .side_bar_title {
    margin-top: 30px;
  }
}

.side_bar_option {
  margin-bottom: 15px;
  display: block;
  color: rgb(224, 13, 13);
}

.side_bar_filter-block {
  margin-bottom: 20px;
}

.category, .level {
  background-color: rgba(35, 16, 199, 0.7);
  padding: 5px;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width: 767.98px) {
  .category, .level {
    font-size: 16px;
    margin-right: 5px;
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .category, .level {
    font-size: 20px;
    min-width: 170px;
    margin-bottom: 12px;
  }
}

.category:hover, .level:hover {
  background-color: rgb(35, 16, 199);
}

.courses_input {
  width: 250px;
  height: 25px;
  background-color: inherit;
  border-radius: 7px;
  outline: 1px solid blue;
  margin-bottom: 30px;
  padding: 5px;
}
@media screen and (max-width: 1279.98px) {
  .courses_input {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.courses_name {
  font-size: 18px;
  color: blue;
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 1279.98px) {
  .courses_name {
    margin-left: 10px;
  }
}

.courses_category_title, .courses_level_title {
  color: rgb(224, 13, 13);
}

.courses_category,
.courses_level {
  display: block;
  margin-bottom: 5px;
}
@media screen and (max-width: 1279.98px) {
  .courses_category,
  .courses_level {
    margin-left: 10px;
  }
}

.course_description {
  padding: 5px;
  display: block;
  width: 240px;
  height: 130px;
  background-color: rgba(16, 32, 205, 0.8);
  font-size: 14px;
  color: white;
  position: absolute;
  top: -130px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .course_description {
    width: 360px;
    height: 215px;
    top: -215px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .course_description {
    width: 220px;
  }
}/*# sourceMappingURL=main.css.map */